{% extends 'base.html' %}

{% block content %}
<div class="card shadow p-4">
<h2>Sessão de {{ sessao.paciente.nome }}</h2>

<h3>Atividades Selecionadas</h3>
<ul>
  {% for atividade in atividades_sessao %}
    <li>
      {{ atividade.atividade_modelo.descricao }} - {{ atividade.get_resposta_display }}
      {% if atividade.detalhes %}
        <p><strong>Detalhes:</strong> {{ atividade.detalhes }}</p>
      {% endif %}
    </li>
  {% empty %}
    <p>Nenhuma atividade adicionada.</p>
  {% endfor %}
</ul>

<h3>Adicionar nova atividade</h3>
<ul>
  {% for atividade in sessao.terapeuta.atividademodelo_set.all %}
    <li>
      {{ atividade.descricao }} 
      <a href="{% url 'adicionar_atividade_sessao' sessao.id %}?atividade_id={{ atividade.id }}">Adicionar detalhes</a>
    </li>
  {% endfor %}
</ul>

</div>
{% endblock %}
