{% extends 'base.html' %}

{% block content %}
  <h2>Selecionar atividades para {{ paciente.nome }}</h2>

<form method="post">
  {% csrf_token %}
  {% for a in atividades_modelo %}
    <label>
      <input type="checkbox" name="atividades" value="{{ a.id }}">
      {{ a.descricao }}
    </label><br>
  {% empty %}
    <p>Nenhuma atividade cadastrada.</p>
  {% endfor %}
  <button type="submit">Iniciar sessão</button>
</form>

  <p>
    Não encontrou o que queria?
    <a href="{% url 'criar_atividade_modelo' %}">Criar nova atividade modelo</a>
  </p>
{% endblock %}
